/* debug */
[class*="col-"]{
  min-height: 100px;
  background: red;
  border: solid 1px #000;
}


header{
  background-color: #2C3E50;
}

.jumbotron{
  background-color: #1ABC9C;
}

.about{
  background-color: #1ABC9C;
}

.footer_up{
  background-color: #2C3E50;
}

.footer_down{
  background-color: #1A252F;
}
