/* debug */
/* [class*="col-"]{
  min-height: 100px;
  background: red;
  border: solid 1px #000;
} */

/* generali */

body{
  margin-top: 50px;
}

h1{
  font-weight: bold;
  font-size: 5rem;
}

.my-star{
  position: relative;
  height: 30px;
  display: inline-block;
}


.my-star svg{
  height: 100%;
}

.my-star::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 150px;
  top: 15px;
  background-color: #fff;
  border-radius: 5px;
  /* margin-left: 15px; */
  left: 45px;

}

.my-star::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 150px;
  top: 15px;
  background-color: #fff;
  border-radius: 5px;
  /* margin-right: 15px; */
  right: 45px;

}


/* header */

header .navbar,
header .navbar-default{
  background-color: #2C3E50;
  background-image: none;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

header .navbar-default .navbar-brand,
header .navbar-default .navbar-nav>li>a {
  color: #fff;
}

header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li>a:hover {
  color: #1ABC9C;
  background-color: transparent;

}

@media all and (min-width: 768px) {
  body{
  margin-top: 120px;
  }
  .navbar {
  padding: 35px 0;
  }
  .navbar-brand{
  font-size: xx-large;
  font-weight: 700;
  }
}

/* jumbotron */
.jumbotron{
  background-color: #1ABC9C;
  color: #fff;
}

.jumbotron img:first-child{
  width: 35%;
}

.jumbotron h1{
  font-size: 7rem;
}

/* portfolio */

.portfolio .my-star::after,
.portfolio .my-star::before {
  background-color: #2C3E50;
}

.my-space{
  margin: 15px 0;
}

.my-dimension{
  position: relative;
  width: 80%;
  border-radius: 10px;
  z-index: 1;
}

.layover {
  position: absolute;
  background-color: rgba(26, 188, 156, 0.9);
  z-index: 2;
  border-radius: 30px;
}

.layover:hover {
  border-radius: 100px;
  cursor: pointer;
}


/* ABOUT */
.about{
  background-color: #1ABC9C;
  color: #fff;
}

.about button {
  padding: 1% 1%;
  margin-bottom: 2%;
  color: #fff;
  background-color: #1abc9c;
  border-color: #fff;
  font-size: 2rem;

}

/* CONTACT ME */

.contact .my-star::after,
.contact .my-star::before {
  background-color: #2C3E50;
}

.contact button {
  color: #fff;
  background-color: #1abc9c;
  border-color: #1abc9c;
  padding: 1% 2%;
  font-size: 2rem;
  margin: 2% 0;
}

/* footer */

.footer_up{
  background-color: #2C3E50;
}

.footer_down{
  background-color: #1A252F;
}
